.form-container {
  margin: 50px auto;
  max-width: 350px;
}

.form-container h1 {
  color: rgb(14, 192, 236);
}

form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgb(14, 192, 236);
}

.form input[type=submit] {
  background: rgb(14, 192, 236);
  color: aliceblue;
  padding: 10px 0;
}